name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/ai_trading_assistant:latest .

      - name: Push to Docker Hub
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/ai_trading_assistant:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            sudo docker stop $(sudo docker ps -q) || true
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/ai_trading_assistant:latest
            sudo docker run -d -p 8501:8501 \
              -e RAPIDAPI_KEY=${{ secrets.RAPIDAPI_KEY }} \
              ${{ secrets.DOCKERHUB_USERNAME }}/ai_trading_assistant:latest
